# Sets

### Sets, Lists and Tuples
#### From the Datacamp Tutorial on sets.

#### “The major difference is that sets, unlike lists or tuples, cannot have multiple occurrences of the same element and store unordered values.”

### Exercise
#### Create ASet, AList and ATuple, all of which contain “cat”, “dog” and “parrot”. Print the type of each.

In [10]:
AList = ["cat","dog","parrot"]
ATuple = ("cat","dog","parrot")
ASet = {"cat","dog","parrot"}

In [11]:
print(type(AList))

<class 'list'>

In [12]:
print(type(ATuple))

<class 'tuple'>

In [13]:
print(type(ASet))

<class 'set'>

### Exercise
#### Attempt to obtain the first value of each collection. How does python respond?

In [14]:
print(AList[0])

cat

In [15]:
print(ATuple[0])

cat

In [16]:
print(ASet[0])

TypeError: 'set' object does not support indexing

### Exercise
#### Write for loops to iterate over and print the contents of these collections. Observations?

In [17]:
for item in AList:
    print(item)

cat
dog
parrot

In [18]:
for item in ATuple:
    print(item)

cat
dog
parrot

In [19]:
for item in ASet:
    print(item)

dog
parrot
cat

I observed that the order of items printed from the set was not what I used when I created the set.

### Alternatives
#### Create BList, BTuple and BSet. They have the same items as the A variants, but the cat appears last instead of first.

In [20]:
BList = ["dog","parrot","cat"]
BTuple = ("dog","parrot","cat")
BSet = {"dog","parrot","cat"}

### Exercise
#### Test the A and B variants for equality. What do you observe?

In [21]:
# The lists
print(AList == BList)

False

In [22]:
# The tuples
print(ATuple == BTuple)

False

In [23]:
# The sets
print(ASet == BSet)

True

### Create the C Variants
#### To each of the collection definitions, add another “dog” as a fourth entry.

In [24]:
CList = ["cat","dog","parrot","dog"]
CTuple = ("cat","dog","parrot","dog")
CSet = {"cat","dog","parrot","dog"}

### Exercise
#### Print each of these and observe the difference.

In [25]:
print(CList)

['cat', 'dog', 'parrot', 'dog']

In [26]:
print(CTuple)

('cat', 'dog', 'parrot', 'dog')

In [28]:
print(CSet)

{'dog', 'parrot', 'cat'}

### Exercise
#### Try the len function on the C variants.

In [29]:
print(len(CList))

4

In [30]:
print(len(CTuple))

4

In [31]:
print(len(CSet))

3

## Sets and Dictionaries
#### These two data structures share the curly. In the case of a non-empty curly a set can be distinguished from a dictionary by the absence of the : structure in the case of a set.

### Example

In [55]:
pets_dict = {"dog":2,"cat":1,"parrot":0}

pets_set = {"Fido","Felix"}

In [56]:
print(pets_dict)

{'dog': 2, 'cat': 1, 'parrot': 0}

In [57]:
print(pets_set)

{'Fido', 'Felix'}

This means that two curlies with nothing included is an empty dictionary. An empty set is given by set().

### Exercise
#### Add a python to the dictionary and the set. The pythons name is “Cool guy”.

In [58]:
pets_dict["python"] = 1

pets_set.add("Cool guy")

In [59]:
print(pets_dict)

{'dog': 2, 'cat': 1, 'parrot': 0, 'python': 1}

In [60]:
print(pets_set)

{'Fido', 'Cool guy', 'Felix'}

Note that sets are quite mutable.

### Exercise
#### The cat died, so we want to update the set and dictionary.

In [61]:
pets_dict["cat"] = 0
pets_set.discard("Felix")

# Better to use .discard than .remove
# If you try to .remove something that is not there, you will get a traceback error

In [62]:
print(pets_dict)

{'dog': 2, 'cat': 0, 'parrot': 0, 'python': 1}

In [63]:
print(pets_set)

{'Fido', 'Cool guy'}

### Exercise
#### Note that the set doesn’t print in alphabetical order. Use the sorted function to “solve” this problem and create sorted_pets_set. What is the type of this new object?

In [65]:
sorted_pets_set = sorted(pets_set)
print(sorted_pets_set)

['Cool guy', 'Fido']

In [67]:
print(type(sorted_pets_set))

<class 'list'>

### Two Functions
#### The function set() turns a list into a set. A set is unduplicated. the function list() turns a set into a list.
#### Use these facts to write a function undup(), which converts a list with duplications into an unduplicated list. Test it on [1,1,2,3,4,4,5,1,2,6]

In [69]:
def unduplist(dupList):
    return list(set(dupList))

In [70]:
dupList = [1, 1, 2, 3, 4, 4, 5, 1, 2, 6]

print(unduplist(dupList))

[1, 2, 3, 4, 5, 6]

### Range to Set
#### Does the set() function work on range objects?

In [72]:
I100 = set(range(1,101))
print(I100)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [73]:
len(I100)

100

In [74]:
type(I100)

set

Python somewhat awkwardly displays the result as a “set of a list”.

Let’s use this set as our universe to discuss some operations on its subsets. How many subsets does it have?

#### Answer

2^100

### Rename I100 as the Universe

In [75]:
Universe = I100

### Create Subsets
#### Start with Evens, the subset of even numbers.

In [82]:
Evens = set()

for num in Universe:
    if num % 2 == 0:
        Evens.add(num)

print(Evens)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100}

### Use Comprehension

In [87]:
Evens2 = {n for n in Universe if n % 2 == 0}
print(Evens2 == Evens)

True

### DataCamp
#### Python List Comprehension Tutorial
https://www.datacamp.com/community/tutorials/python-list-comprehension

In [90]:
# Initialize 'numbers'
numbers = range(10)

In [91]:
# Initialize 'new_list'
new_list = []

# Add values to 'new_list'
for n in numbers:
    if n%2==0:
        new_list.append(n**2)

# Print `new_list`
print(new_list)

[0, 4, 16, 36, 64]

In [92]:
# Create 'new_list'
new_list = [n**2 for n in numbers if n%2==0]

# Print 'new_list'
print(new_list)

[0, 4, 16, 36, 64]

### Exercise
#### Create the set of odds using comprehension.

In [89]:
Odds = {n for n in Universe if n % 2 == 1}
print(Odds)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

### Exercise
#### Create the set HalfOne consisting of every number 50 or less.

In [95]:
HalfOne = {n for n in Universe if n <= 50}
print(HalfOne)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

### Exercise
#### Create the sets Div3 , Div4, and Div5 containing the numbers divisible by 3, 4, and 5 respectively.

In [96]:
Div3 = {n for n in Universe if n % 3 == 0}
print(Div3)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

In [97]:
Div4 = {n for n in Universe if n % 4 == 0}
print(Div4)

{4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100}

In [99]:
Div5 = {n for n in Universe if n % 5 == 0}
print(Div5)

{65, 35, 100, 5, 70, 40, 10, 75, 45, 15, 80, 50, 20, 85, 55, 25, 90, 60, 30, 95}

### DataCamp
#### Sets in Python Tutorial
https://www.datacamp.com/community/tutorials/sets-in-python

In [ ]:
# Python sets have methods that allow you to perform these mathematical operations as well as operators that give you equivalent results.

# Before exploring these methods, let's start by initializing two sets dataScientist and dataEngineer.

dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])  
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [109]:
# union

# A union, denoted dataScientist ∪ dataEngineer, is the set of all values that are values of dataScientist, or dataEngineer, or both. 
# You can use the union method to find out all the unique values in two sets.

# set built-in function union
dataScientist.union(dataEngineer)

# Equivalent Result
dataScientist | dataEngineer

{'Git', 'Hadoop', 'Java', 'Python', 'R', 'SAS', 'SQL', 'Scala', 'Tableau'}

In [110]:
# intersection

# An intersection of two sets dataScientist and dataEngineer, denoted dataScientist ∩ dataEngineer, is the set of all values that are values of both dataScientist and dataEngineer.

# Intersection operation
dataScientist.intersection(dataEngineer)

# Equivalent Result
dataScientist & dataEngineer

{'Git', 'Python', 'SQL'}

In [111]:
# difference

# A difference of two sets dataScientist and dataEngineer, denoted dataScientist \ dataEngineer, is the set of all values of dataScientist that are not values of dataEngineer.

# Difference Operation
dataScientist.difference(dataEngineer)

# Equivalent Result
dataScientist - dataEngineer

{'R', 'SAS', 'Tableau'}

In [ ]:
# symmetric_difference

# A symmetric difference of two sets dataScientist and dataEngineer, denoted dataScientist △ dataEngineer, is the set of all values that are values of exactly one of two sets, but not both.

# Symmetric Difference Operation
dataScientist.symmetric_difference(dataEngineer)

# Equivalent Result
dataScientist ^ dataEngineer

### Exercise
#### Create and print the intersection of Div3 and Div5.

In [102]:
print(Div3.intersection(Div5))

{75, 45, 15, 90, 60, 30}

In [103]:
# Professor's Answer

Div3and5 = Div3 & Div5
print(Div3and5)

{75, 45, 15, 90, 60, 30}

### Exercise
#### Create and print the union of Div3 and Div5.

In [104]:
print(Div3.union(Div5))

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100}

In [105]:
# Professor's Answer

Div3or5 = Div3 | Div5
print(Div3or5)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100}

### Exercise
#### Create and print the set difference of Div3 and Div5.

In [106]:
print(Div3.difference(Div5))

{3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99}

In [107]:
# Professor's Answer

Div3not5 = Div3 - Div5
print(Div3not5)

{3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99}

### Exercise
#### Create and print the symmetric difference of Div3 and Div5.

In [113]:
print(Div3.symmetric_difference(Div5))

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99, 100}

In [114]:
# Professor's Answer

DivOneOf3and5 = Div3 ^ Div5
print(DivOneOf3and5)

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99, 100}

### Complement
#### There is no built-in complement function or operator in python since there is no default universe. However, once you have defined a universe, you can use the difference operator with this set to define a complement function.

#### Create a function comp() for our example. Test it by seeing if the complement of Evens is Odds.

In [115]:
def comp(s):
    return Universe - s

print(comp(Evens) == Odds)

True

### Union Distributes over Intersection
#### In general, the theory of boolean algebra says that for any sets, A, B, and C, the following is true.

A∪(B∩C)=(A∪B)∩(A∪C)

#### Show that this is true for an example using Div3, Div4 and Div5

In [116]:
leftside = Div3 | (Div4 & Div5)
rightside = (Div3 | Div4) & (Div3 | Div5)
print(leftside == rightside)

True